<!-- Just Black and white Icons -->
<!-- Facebook -->
<i class="fab fa-facebook-f"></i>

<!-- Twitter -->
<i class="fab fa-twitter"></i>

<!-- Google -->
<i class="fab fa-google"></i>

<!-- Instagram -->
<i class="fab fa-instagram"></i>

<!-- Linkedin -->
<i class="fab fa-linkedin-in"></i>

<!-- Pinterest -->
<i class="fab fa-pinterest"></i>

<!-- Vkontakte -->
<i class="fab fa-vk"></i>

<!-- Stack overflow -->
<i class="fab fa-stack-overflow"></i>

<!-- Youtube -->
<i class="fab fa-youtube"></i>

<!-- Slack -->
<i class="fab fa-slack-hash"></i>

<!-- Github -->
<i class="fab fa-github"></i>

<!-- Dribbble -->
<i class="fab fa-dribbble"></i>

<!-- Reddit -->
<i class="fab fa-reddit-alien"></i>

<!-- Whatsapp -->
<i class="fab fa-whatsapp"></i>


<!-- Official/Brand Colours & Size Icons -->
<!-- Facebook -->
<i class="fab fa-facebook-f"></i>

<!-- Twitter -->
<i class="fab fa-twitter"></i>

<!-- Google -->
<i class="fab fa-google"></i>

<!-- Instagram -->
<i class="fab fa-instagram"></i>

<!-- Linkedin -->
<i class="fab fa-linkedin-in"></i>

<!-- Pinterest -->
<i class="fab fa-pinterest"></i>

<!-- Vkontakte -->
<i class="fab fa-vk"></i>

<!-- Stack overflow -->
<i class="fab fa-stack-overflow"></i>

<!-- Youtube -->
<i class="fab fa-youtube"></i>

<!-- Slack -->
<i class="fab fa-slack-hash"></i>

<!-- Github -->
<i class="fab fa-github"></i>

<!-- Dribbble -->
<i class="fab fa-dribbble"></i>

<!-- Reddit -->
<i class="fab fa-reddit-alien"></i>

<!-- Whatsapp -->
<i class="fab fa-whatsapp"></i>


<!-- Just Icons with colors and links... -->
<!-- Facebook -->
<a style="color: #3b5998;" href="#!" role="button"
  ><i class="fab fa-facebook-f fa-lg"></i
></a>

<!-- Twitter -->
<a style="color: #55acee;" href="#!" role="button"
  ><i class="fab fa-twitter fa-lg"></i
></a>

<!-- Google -->
<a style="color: #dd4b39;" href="#!" role="button"
  ><i class="fab fa-google fa-lg"></i
></a>

<!-- Instagram -->
<a style="color: #ac2bac;" href="#!" role="button"
  ><i class="fab fa-instagram fa-lg"></i
></a>


<!-- Otherwise... (Template..) -->
<!-- styling -->
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
  background: #3b5998;
  width: 100%;
  margin: 0 auto;
}

.center {
  display: table;
  width: 100%;
  height: 100vh;
}

/* #social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  .social {
    padding-left: 0px;
  }
  li {
    display: inline-block;
  }
  li a {
    color: rgba(256, 256, 256, 0.6);
    border-radius: 6px;
    list-style-type: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    padding: 1%;
    border: 1px solid rgba(256, 256, 256, 0.6);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: rgba(256, 256, 256, 1);
      border: 1px solid rgba(256, 256, 256, 1);
    }
  }
} */

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}
.credits, .credits a {
  font-size: 20px;
  font-family: Open Sans;
  color: rgba(256, 256, 256, 0.6);
}
</style>

<!-- htmling... -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="center">
  <div id="social-test">
  <ul class="social">
    <li><a href="https://facebook.com/colorlib"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/colorlib"><i class="fa fa-twitter" aria-hidden="true"></a></i></li>
    <li><a href="https://instagram.com/colorlib"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="https://www.youtube.com/c/Colorlib"><i class="fa fa-youtube" aria-hidden="true"></a></i></li>
    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></a></i></li>
    <li><a href="https://github.com/puikinsh"><i class="fa fa-github" aria-hidden="true"></a></i></li>
  </li>
  </ul>
  <p class="credits">For more awesome social buttons  <a href="https://colorlib.com/wp/html-social-buttons-templates/"> click here</a></p>
  </div>
</div>